:root {
  --balloon-border-content: "";
  --balloon-border-font-size: 0px;
  --balloon-border-top: 0px;
  --balloon-border-right: 0px;
  --balloon-border-font-color: white;
  --balloon-border-rotate: 0deg;
}

.MuiPaper-root>.MuiPaper-root {
  position: relative;
}

.MuiPaper-root>.MuiPaper-root::after {
  transform: skewX(calc(-1 * var(--balloon-border-transform-skewX)));
  rotate var(--balloon-border-rotate);
  content: var(--balloon-border-content);
  position: absolute;
  font-size: var(--balloon-border-font-size);
  top: var(--balloon-border-top);
  right: var(--balloon-border-right);
  color: var(--balloon-border-font-color);
}
