@import url("https://yudukiak.github.io/ccfoliaCSS/CSS/balloon/main.css");

:root {
  --balloon-border-transform-skewX: 0deg;
  --font-color-fail: rgb(245, 0, 87);
  --font-color-fail-shadow: 0;
  --font-color-success: rgb(33, 150, 243);
  --font-color-success-shadow: 0;
  --name-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --dice-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --text-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* 名前 */
.MuiTypography-subtitle2 {
  font-family:　var(--name-font-family);
}

/* ダイス結果 */
.MuiTypography-body2 {
  font-family:　var(--dice-font-family);
}

/* 本文 */
.MuiTypography-body1 {
  font-family:　var(--text-font-family);
}

/* 成功 */
.css-1l6qhgm,
.MuiTypography-colorPrimary {
  color: var(--font-color-success);
  text-shadow: var(--font-color-success-shadow);
}

/* 失敗 */
.css-1j13mke,
.MuiTypography-colorSecondary {
  color: var(--font-color-fail);
  text-shadow: var(--font-color-fail-shadow);
}

/* 枠変形 */
.MuiPaper-root {
  transform: skewX(var(--balloon-border-transform-skewX));
}
.MuiPaper-root>.MuiPaper-root p {
  transform: skewX(calc(-1 * var(--balloon-border-transform-skewX)));
}
.MuiPaper-root>.MuiPaper-root h6 {
  transform: skewX(calc(-1 * var(--balloon-border-transform-skewX)));
}
.MuiPaper-root>div:nth-child(1) {
  transform: skewX(calc(-1 * var(--balloon-border-transform-skewX)));
}
.css-175dgcc {
  box-shadow: none;
}
